body {
    background: #f2f2f2;
}

header {
    background: #b2b2b2;
    color: #ffffff;
    height: 10vh;
    text-align: center;
    vertical-align: middle;
}

main {
    width: 50%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}
main img {
    width: 30vh;
}